@import "../vars";
@import "../typo";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.625rem;
  padding: 1.25rem;
  @include typo--body-15;
}

.wordmark {
  width: 8rem;
  height: auto;
}

.heading {
  @include typo--body-15;
  text-transform: uppercase;
}

.body {
  @include typo--body-15;
  max-width: 55ch;
  white-space: pre-line;
  margin: 0;
}

.heading {
  margin: 0;
  @include typo--body-15;
}

.contact {
  @include typo--body-15;
  display: inline-block;
  text-decoration: none;
}

.address {
  @include typo--body-15;
  white-space: pre-wrap;
}

.contact--copy {
  appearance: none;
  border: none;
  display: inline-block;
  background: transparent;
  outline: none;
  color: inherit;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: copy;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.copied {
  position: absolute;
  left: 0;
  opacity: 0;
  @include typo--body-15;
}

.copied,
.label {
  transition: opacity 0.1s ease-in;
  @include typo--body-15;
}

.contact--copied .copied {
  opacity: 1;
}

.contact--copied .label {
  opacity: 0;
}
