@import "vars.scss";

@font-face {
  font-family: "ABCDiatype";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/ABCDiatype-Medium.otf") format("opentype"),
    url("/fonts/ABCDiatype-Medium.otf") format("woff"),
    url("/fonts/ABCDiatype-Medium.otf") format("woff2");
}

@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/NeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-family: "RadioGrotesk";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/RadioGrotesk-Regular.woff") format("woff");
}

html {
  --100vh: 100vh;
}

html,
body {
  background: #fff;
  color: #000;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  -webkit-overscroll-behavior: none;
  padding: 0;
  margin: 0;
  font-family: "RadioGrotesk", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html.light,
body.light {
  background: #fff;
  color: #000;
}

html.dark,
body.dark {
  background: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
